dataset/face/face_1.png
dataset/face/character_head.png
dataset/face/face_2.png
dataset/face/face_3.png
dataset/face/face_4.png
dataset/face/face_5.png
dataset/face/face_6.png
dataset/face/face_7.png
dataset/face/face_8.png
dataset/face/face_9.png
dataset/face/face_10.png
dataset/face/face_11.png
dataset/face/face_12.png
dataset/face/face_13.png
dataset/face/face_14.png
dataset/face/face_15.png
dataset/face/face_16.png
dataset/face/face_17.png
dataset/face/face_18.png
dataset/face/face_19.png
dataset/face/face_20.png
dataset/face/face_21.png
dataset/face/face_22.png
dataset/face/face_23.png
dataset/face/face_24.png
dataset/face/face_25.png
dataset/face/face_26.png
dataset/face/face_27.png
dataset/face/face_28.png
dataset/face/face_29.png
dataset/face/face_30.png
dataset/face/face_31.png
dataset/face/face_32.png
dataset/face/face_33.png
dataset/face/face_34.png
dataset/face/face_35.png
dataset/face/face_36.png
dataset/face/face_37.png
dataset/face/face_38.png
dataset/face/face_39.png
dataset/face/face_40.png
dataset/face/face_41.png
dataset/face/face_42.png
dataset/face/face_43.png
dataset/face/face_44.png
dataset/face/face_45.png
dataset/face/face_46.png
dataset/face/face_47.png
dataset/face/face_48.png
dataset/face/face_49.png
dataset/face/face_50.png
dataset/face/face_51.png
dataset/face/face_52.png
dataset/face/face_53.png
dataset/face/face_54.png
dataset/face/face_55.png
dataset/face/face_56.png
dataset/face/face_57.png
dataset/face/face_58.png
dataset/face/face_59.png
dataset/face/face_60.png
dataset/face/face_61.png
dataset/face/face_62.png
dataset/face/face_63.png
dataset/face/face_64.png
dataset/face/face_65.png
dataset/face/face_66.png
dataset/face/face_67.png
dataset/face/face_68.png
dataset/face/face_69.png
dataset/face/face_70.png
dataset/face/face_71.png
dataset/face/face_72.png
dataset/face/face_73.png
dataset/face/face_74.png
dataset/face/face_75.png
dataset/face/face_76.png
dataset/face/face_77.png
dataset/face/face_78.png
dataset/face/face_79.png
dataset/face/face_80.png
dataset/face/face_81.png
dataset/face/face_82.png
dataset/face/face_83.png
dataset/face/face_84.png
dataset/face/face_85.png
dataset/face/face_86.png
dataset/face/face_87.png
dataset/face/face_88.png
dataset/face/face_89.png
dataset/face/face_90.png
dataset/face/face_91.png
dataset/face/face_92.png
dataset/face/face_93.png
dataset/face/face_94.png
dataset/face/face_95.png
dataset/face/face_96.png
dataset/face/face_97.png
dataset/face/face_98.png
dataset/face/face_99.png
dataset/face/face_100.png
dataset/face/face_101.png
dataset/face/face_102.png
dataset/face/face_103.png
dataset/face/face_104.png
dataset/face/face_105.png
dataset/face/face_106.png
dataset/face/face_107.png
dataset/face/face_108.png
dataset/face/face_109.png
dataset/face/face_110.png
dataset/face/face_111.png
dataset/face/face_112.png
dataset/face/face_113.png
dataset/face/face_114.png
dataset/face/face_115.png
dataset/face/face_116.png
dataset/face/face_117.png
dataset/face/face_118.png
dataset/face/face_119.png
dataset/face/face_120.png
dataset/face/face_121.png
dataset/face/face_122.png
dataset/face/face_123.png
dataset/face/face_124.png
dataset/face/face_125.png
dataset/face/face_126.png
dataset/face/face_127.png
dataset/face/face_128.png
dataset/face/face_129.png
dataset/face/face_130.png
dataset/face/face_131.png
dataset/face/face_132.png
dataset/face/face_133.png
dataset/face/face_134.png
dataset/face/face_135.png
dataset/face/face_136.png
dataset/face/face_137.png
dataset/face/face_138.png
dataset/face/face_139.png
dataset/face/face_140.png
dataset/face/face_141.png
dataset/face/face_142.png
dataset/face/face_143.png
dataset/face/face_144.png
dataset/face/face_145.png
dataset/face/face_146.png
dataset/face/face_147.png
dataset/face/face_148.png
dataset/face/face_149.png
dataset/face/face_150.png
dataset/face/face_151.png
dataset/face/face_152.png
dataset/face/face_153.png
dataset/face/face_154.png
dataset/face/face_155.png
dataset/face/face_156.png
dataset/face/face_157.png
dataset/face/face_158.png
dataset/face/face_159.png
dataset/face/face_160.png
dataset/face/face_161.png
dataset/face/face_162.png
dataset/face/face_163.png
dataset/face/face_164.png
dataset/face/face_165.png
dataset/face/face_166.png
dataset/face/face_167.png
dataset/face/face_168.png
dataset/face/face_169.png
dataset/face/face_170.png
dataset/face/face_171.png
dataset/face/face_172.png
dataset/face/face_173.png
dataset/face/face_174.png
dataset/face/face_175.png
dataset/face/face_176.png
dataset/face/face_177.png
dataset/face/face_178.png
dataset/face/face_179.png
dataset/face/face_180.png
dataset/face/face_181.png
dataset/face/face_182.png
dataset/face/face_183.png
dataset/face/face_184.png
dataset/face/face_185.png
dataset/face/face_186.png
dataset/face/face_187.png
dataset/face/face_188.png
dataset/face/face_189.png
dataset/face/face_190.png
dataset/face/face_191.png
dataset/face/face_192.png
dataset/face/face_193.png
dataset/face/face_194.png
dataset/face/face_195.png
dataset/face/face_196.png
dataset/face/face_197.png
dataset/face/face_198.png
dataset/face/face_199.png
dataset/face/face_200.png
dataset/face/face_201.png
dataset/face/face_202.png
dataset/face/face_203.png
dataset/face/face_204.png
dataset/face/face_205.png
dataset/face/face_206.png
dataset/face/face_207.png
dataset/face/face_208.png
dataset/face/face_209.png
dataset/face/face_210.png
dataset/face/face_211.png
dataset/face/face_212.png
dataset/face/face_213.png
dataset/face/face_214.png
dataset/face/face_215.png
dataset/face/face_216.png
dataset/face/face_217.png
dataset/face/face_218.png
dataset/face/face_219.png
dataset/face/face_220.png
dataset/face/face_221.png
dataset/face/face_222.png
dataset/face/face_223.png
dataset/face/face_224.png
dataset/face/face_225.png
dataset/face/face_226.png
dataset/face/face_227.png
dataset/face/face_228.png
dataset/face/face_229.png
dataset/face/face_230.png
dataset/face/face_231.png
dataset/face/face_232.png
dataset/face/face_233.png
dataset/face/face_234.png
dataset/face/face_235.png
dataset/face/face_236.png
dataset/face/face_237.png
dataset/face/face_238.png
dataset/face/face_239.png
dataset/face/face_240.png
dataset/face/face_241.png
dataset/face/face_242.png
dataset/face/face_243.png
dataset/face/face_244.png
dataset/face/face_245.png
dataset/face/face_246.png
dataset/face/face_247.png
dataset/face/face_248.png
dataset/face/face_249.png
dataset/face/face_250.png
dataset/face/face_251.png
dataset/face/face_252.png
dataset/face/face_253.png
dataset/face/face_254.png
dataset/face/face_255.png
dataset/face/face_256.png
dataset/face/face_257.png
dataset/face/face_258.png
dataset/face/face_259.png
dataset/face/face_260.png
dataset/face/face_261.png
dataset/face/face_262.png
dataset/face/face_263.png
dataset/face/face_264.png
dataset/face/face_265.png
dataset/face/face_266.png
dataset/face/face_267.png
dataset/face/face_268.png
dataset/face/face_269.png
dataset/face/face_270.png
dataset/face/face_271.png
dataset/face/face_272.png
dataset/face/face_273.png
dataset/face/face_274.png
dataset/face/face_275.png
dataset/face/face_276.png
dataset/face/face_277.png
dataset/face/face_278.png
dataset/face/face_279.png
dataset/face/face_280.png
dataset/face/face_281.png
dataset/face/face_282.png
dataset/face/face_283.png
dataset/face/face_284.png
dataset/face/face_285.png
dataset/face/face_286.png
dataset/face/face_287.png
dataset/face/face_288.png
dataset/face/face_289.png
dataset/face/face_290.png
dataset/face/face_291.png
dataset/face/face_292.png
dataset/face/face_293.png
dataset/face/face_294.png
dataset/face/face_295.png
dataset/face/face_296.png
dataset/face/face_297.png
dataset/face/face_298.png
dataset/face/face_299.png
dataset/face/face_300.png
dataset/face/face_301.png
dataset/face/face_302.png
dataset/face/face_303.png
dataset/face/face_304.png
dataset/face/face_305.png
dataset/face/face_306.png
dataset/face/face_307.png
dataset/face/face_308.png
dataset/face/template_face.png
dataset/no_face/no_face_0.png
dataset/no_face/no_face_1.png
dataset/no_face/no_face_2.png
dataset/no_face/no_face_3.png
dataset/no_face/no_face_4.png
dataset/no_face/no_face_5.png
dataset/no_face/no_face_6.png
dataset/no_face/no_face_7.png
dataset/no_face/no_face_8.png
dataset/no_face/no_face_9.png
dataset/no_face/no_face_10.png
dataset/no_face/no_face_11.png
dataset/no_face/no_face_12.png
dataset/no_face/no_face_13.png
dataset/no_face/no_face_14.png
dataset/no_face/no_face_15.png
dataset/no_face/no_face_16.png
dataset/no_face/no_face_17.png
dataset/no_face/no_face_18.png
dataset/no_face/no_face_19.png
dataset/no_face/no_face_20.png
dataset/no_face/no_face_21.png
dataset/no_face/no_face_22.png
dataset/no_face/no_face_23.png
dataset/no_face/no_face_24.png
dataset/no_face/no_face_25.png
dataset/no_face/no_face_26.png
dataset/no_face/no_face_27.png
dataset/no_face/no_face_28.png
dataset/no_face/no_face_29.png
dataset/no_face/no_face_30.png
dataset/no_face/no_face_31.png
dataset/no_face/no_face_32.png
dataset/no_face/no_face_33.png
dataset/no_face/no_face_34.png
dataset/no_face/no_face_35.png
dataset/no_face/no_face_36.png
dataset/no_face/no_face_37.png
dataset/no_face/no_face_38.png
dataset/no_face/no_face_39.png
dataset/no_face/no_face_40.png
dataset/no_face/no_face_41.png
dataset/no_face/no_face_42.png
dataset/no_face/no_face_43.png
dataset/no_face/no_face_44.png
dataset/no_face/no_face_45.png
dataset/no_face/no_face_46.png
dataset/no_face/no_face_47.png
dataset/no_face/no_face_48.png
dataset/no_face/no_face_49.png
dataset/no_face/no_face_50.png
dataset/no_face/no_face_51.png
dataset/no_face/no_face_52.png
dataset/no_face/no_face_53.png
dataset/no_face/no_face_54.png
dataset/no_face/no_face_55.png
dataset/no_face/no_face_56.png
dataset/no_face/no_face_57.png
dataset/no_face/no_face_58.png
dataset/no_face/no_face_59.png
dataset/no_face/no_face_60.png
dataset/no_face/no_face_61.png
dataset/no_face/no_face_62.png
dataset/no_face/no_face_63.png
dataset/no_face/no_face_64.png
dataset/no_face/no_face_65.png
dataset/no_face/no_face_66.png
dataset/no_face/no_face_67.png
dataset/no_face/no_face_68.png
dataset/no_face/no_face_69.png
dataset/no_face/no_face_70.png
dataset/no_face/no_face_71.png
dataset/no_face/no_face_72.png
dataset/no_face/no_face_73.png
dataset/no_face/no_face_74.png
dataset/no_face/no_face_75.png
dataset/no_face/no_face_76.png
dataset/no_face/no_face_77.png
dataset/no_face/no_face_78.png
dataset/no_face/no_face_79.png
dataset/no_face/no_face_80.png
dataset/no_face/no_face_81.png
dataset/no_face/no_face_82.png
dataset/no_face/no_face_83.png
dataset/no_face/no_face_84.png
dataset/no_face/no_face_85.png
dataset/no_face/no_face_86.png
dataset/no_face/no_face_87.png
dataset/no_face/no_face_88.png
dataset/no_face/no_face_89.png
dataset/no_face/no_face_90.png
dataset/no_face/no_face_91.png
dataset/no_face/no_face_92.png
dataset/no_face/no_face_93.png
dataset/no_face/no_face_94.png
dataset/no_face/no_face_95.png
dataset/no_face/no_face_96.png
dataset/no_face/no_face_97.png
dataset/no_face/no_face_98.png
dataset/no_face/no_face_99.png
dataset/no_face/no_face_100.png
dataset/no_face/no_face_101.png
dataset/no_face/no_face_102.png
dataset/no_face/no_face_103.png
dataset/no_face/no_face_104.png
dataset/no_face/no_face_105.png
dataset/no_face/no_face_106.png
dataset/no_face/no_face_107.png
dataset/no_face/no_face_108.png
dataset/no_face/no_face_109.png
dataset/no_face/no_face_110.png
dataset/no_face/no_face_111.png
dataset/no_face/no_face_112.png
dataset/no_face/no_face_113.png
dataset/no_face/no_face_114.png
dataset/no_face/no_face_115.png
dataset/no_face/no_face_116.png
dataset/no_face/no_face_117.png
dataset/no_face/no_face_118.png
dataset/no_face/no_face_119.png
dataset/no_face/no_face_120.png
dataset/no_face/no_face_121.png
dataset/no_face/no_face_122.png
dataset/no_face/no_face_123.png
dataset/no_face/no_face_124.png
dataset/no_face/no_face_125.png
dataset/no_face/no_face_126.png
dataset/no_face/no_face_127.png
dataset/no_face/no_face_128.png
dataset/no_face/no_face_129.png
dataset/no_face/no_face_130.png
dataset/no_face/no_face_131.png
dataset/no_face/no_face_132.png
dataset/no_face/no_face_133.png
dataset/no_face/no_face_134.png
dataset/no_face/no_face_135.png
dataset/no_face/no_face_136.png
dataset/no_face/no_face_137.png
dataset/no_face/no_face_138.png
dataset/no_face/no_face_139.png
dataset/no_face/no_face_140.png
dataset/no_face/no_face_141.png
dataset/no_face/no_face_142.png
dataset/no_face/no_face_143.png
dataset/no_face/no_face_144.png
dataset/no_face/no_face_145.png
dataset/no_face/no_face_146.png
dataset/no_face/no_face_147.png
dataset/no_face/no_face_148.png
dataset/no_face/no_face_149.png
dataset/no_face/no_face_150.png
dataset/no_face/no_face_151.png
dataset/no_face/no_face_152.png
dataset/no_face/no_face_153.png
dataset/no_face/no_face_154.png
dataset/no_face/no_face_155.png
dataset/no_face/no_face_156.png
dataset/no_face/no_face_157.png
dataset/no_face/no_face_158.png
dataset/no_face/no_face_159.png
dataset/no_face/no_face_160.png
dataset/no_face/no_face_161.png
dataset/no_face/no_face_162.png
dataset/no_face/no_face_163.png
dataset/no_face/no_face_164.png
dataset/no_face/no_face_165.png
dataset/no_face/no_face_166.png
dataset/no_face/no_face_167.png
dataset/no_face/no_face_168.png
dataset/no_face/no_face_169.png
dataset/no_face/no_face_170.png
dataset/no_face/no_face_171.png
dataset/no_face/no_face_172.png
dataset/no_face/no_face_173.png
dataset/no_face/no_face_174.png
dataset/no_face/no_face_175.png
dataset/no_face/no_face_176.png
dataset/no_face/no_face_177.png
dataset/no_face/no_face_178.png
dataset/no_face/no_face_179.png
dataset/no_face/no_face_180.png
dataset/no_face/no_face_181.png
dataset/no_face/no_face_182.png
dataset/no_face/no_face_183.png
dataset/no_face/no_face_184.png
dataset/no_face/no_face_185.png
dataset/no_face/no_face_186.png
dataset/no_face/no_face_187.png
dataset/no_face/no_face_188.png
dataset/no_face/no_face_189.png
dataset/no_face/no_face_190.png
dataset/no_face/no_face_191.png
dataset/no_face/no_face_192.png
dataset/no_face/no_face_193.png
dataset/no_face/no_face_194.png
dataset/no_face/no_face_195.png
dataset/no_face/no_face_196.png
dataset/no_face/no_face_197.png
dataset/no_face/no_face_198.png
dataset/no_face/no_face_199.png
dataset/no_face/no_face_200.png
dataset/no_face/no_face_201.png
dataset/no_face/no_face_202.png
dataset/no_face/no_face_203.png
dataset/no_face/no_face_204.png
dataset/no_face/no_face_205.png
dataset/no_face/no_face_206.png
dataset/no_face/no_face_207.png
dataset/no_face/no_face_208.png
dataset/no_face/no_face_209.png
dataset/no_face/no_face_210.png
dataset/no_face/no_face_211.png
dataset/no_face/no_face_212.png
dataset/no_face/no_face_213.png
dataset/no_face/no_face_214.png
dataset/no_face/no_face_215.png
dataset/no_face/no_face_216.png
dataset/no_face/no_face_217.png
dataset/no_face/no_face_218.png
dataset/no_face/no_face_219.png
dataset/no_face/no_face_220.png
dataset/no_face/no_face_221.png
dataset/no_face/no_face_222.png
dataset/no_face/no_face_223.png
dataset/no_face/no_face_224.png
dataset/no_face/no_face_225.png
dataset/no_face/no_face_226.png
dataset/no_face/no_face_227.png
dataset/no_face/no_face_228.png
dataset/no_face/no_face_229.png
dataset/no_face/no_face_230.png
dataset/no_face/no_face_231.png
dataset/no_face/no_face_232.png
dataset/no_face/no_face_233.png
dataset/no_face/no_face_234.png
dataset/no_face/no_face_235.png
dataset/no_face/no_face_236.png
dataset/no_face/no_face_237.png
dataset/no_face/no_face_238.png
dataset/no_face/no_face_239.png
dataset/no_face/no_face_240.png
dataset/no_face/no_face_241.png
dataset/no_face/no_face_242.png
dataset/no_face/no_face_243.png
dataset/no_face/no_face_244.png
dataset/no_face/no_face_245.png
dataset/no_face/no_face_246.png
dataset/no_face/no_face_247.png
dataset/no_face/no_face_248.png
dataset/no_face/no_face_249.png
dataset/no_face/no_face_250.png
dataset/no_face/no_face_251.png
dataset/no_face/no_face_252.png
dataset/no_face/no_face_253.png
dataset/no_face/no_face_254.png
dataset/no_face/no_face_255.png
dataset/no_face/no_face_256.png
dataset/no_face/no_face_257.png
dataset/no_face/no_face_258.png
dataset/no_face/no_face_259.png
dataset/no_face/no_face_260.png
dataset/no_face/no_face_261.png
dataset/no_face/no_face_262.png
dataset/no_face/no_face_263.png
dataset/no_face/no_face_264.png
dataset/no_face/no_face_265.png
dataset/no_face/no_face_266.png
dataset/no_face/no_face_267.png
dataset/no_face/no_face_268.png
dataset/no_face/no_face_269.png
dataset/no_face/no_face_270.png
dataset/no_face/no_face_271.png
dataset/no_face/no_face_272.png
dataset/no_face/no_face_273.png
dataset/no_face/no_face_274.png
dataset/no_face/no_face_275.png
dataset/no_face/no_face_276.png
dataset/no_face/no_face_277.png
dataset/no_face/no_face_278.png
dataset/no_face/no_face_279.png
dataset/no_face/no_face_280.png
dataset/no_face/no_face_281.png
dataset/no_face/no_face_282.png
dataset/no_face/no_face_283.png
dataset/no_face/no_face_284.png
dataset/no_face/no_face_285.png
dataset/no_face/no_face_286.png
dataset/no_face/no_face_287.png
dataset/no_face/no_face_288.png
dataset/no_face/no_face_289.png
dataset/no_face/no_face_290.png
dataset/no_face/no_face_291.png
dataset/no_face/no_face_292.png
dataset/no_face/no_face_293.png
dataset/no_face/no_face_294.png
dataset/no_face/no_face_295.png
dataset/no_face/no_face_296.png
dataset/no_face/no_face_297.png
dataset/no_face/no_face_298.png
dataset/no_face/no_face_299.png
dataset/no_face/no_face_300.png
dataset/no_face/no_face_301.png
dataset/no_face/no_face_302.png
dataset/no_face/no_face_303.png
dataset/no_face/no_face_304.png
dataset/no_face/no_face_305.png
dataset/no_face/no_face_306.png
dataset/no_face/no_face_307.png
dataset/no_face/no_face_308.png
face_detector_model.h5
training_history.png
best_face_detector_model.h5
